header{
    font-size: 20px;
    font-family: 'Tilt Warp', cursive;
    font-weight: Medium;
    background-color: #FFB17A;
    margin-bottom: 50px;
    
}

.inicio{
    text-align: start;
    margin-left: 10px;
}
.medio{
    text-align: center;

} 
.nosotros{
    padding: auto;
    text-align: end;
    margin-right: 10px;
}