.uruguay-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.h1-pormundial{
    @extend %dflex;
    font-size: 70px;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter; 
    display: inline-block;
}

.alberto-todo{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.alberto-img{
    height: 400px;
    width: 305px;
    border: 5px solid white;
}
.alberto-img-div{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: end;
}
h6{
    font-family: 'Unbounded', cursive;
    background-color: white;
  }
.datos-alberto{
    height: 250px;
    width: 300px;
    font-family: 'Unbounded', cursive;
    font-size: large;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: $bg-ppl;
    h6{
        background-color: transparent
    }
}

.nacional-text{
    @extend %dflex;
    margin-top: 100px;
    font-size: 60px;
    color: black;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter; 
}
.primera-uruguaya{
    @extend %dflex;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold; 
}

.nacional-escudo{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nacional-img{
    max-height: 400px;
    max-width: 400px;
}

.uruguay-text a:hover .h1-pormundial {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }